.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-text{
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.web {
    color: #4d5ae5;}

 .logo-footer {
    text-decoration: none;
    color: #2E2F42;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    padding-left: 15px;
    margin-right: 76px;
    }
.studio {
    color: #F4F4FD;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 120px;
}

.social-title {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
