.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-container {
    text-align: center;
}

.hero-main-title {
    max-width: 496px;
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    text-align: center;
}


.hero-button {
    display: block;
    background-color: #4D5AE5;
    text-align: center;
    min-width: 169px;
    color: #ffffff; 
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin: 48px auto 0;
    border-radius: 4px;
    padding: 16px 32px;
}




 